body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background-color: cornsilk;
}

.new-memo {
  padding: 20px;
  padding-top: 35px;
  text-align: center;
}

.add-memo-input {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.memo-list {
  height: 80vh;
  overflow: auto;
  padding: 20px;
}

.notification-checkbox{
  padding-left: 50px;
  padding-right: 50px;
}

.notification-checkbox-text{
  font-size: 15px;
}
.memo-list-notification{
  height: 80vh;
  overflow: auto;
  padding: 20px;
}
.memo-notification{
  margin-bottom: 4vh;
  font-size: 15px;
}

.close-modal-button{
  text-align: center;
  margin-bottom: 20px;
}